{{ define "torrents/index.tmpl" }}

<html>
	<h1>
        Torrents
	</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Progress</th>
            <th>Seeding</th>
        </tr>
        {{range $key, $torrent := .torrents}}
        <tr>
            <td> {{ $torrent.Name }}</td>
            <td> {{ getTorrentProg $torrent }} </td>
            <td> {{ $torrent.Seeding }} </td>
        </tr>
        {{end}}
    </table>
</html>

{{end}}
