{{ define "torrents/index.tmpl" }}

<html>
	<h1>
        Torrents
	</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Downloading</th>
            <th>Seeding</th>
        </tr>
        {{range .torrents}}
        <tr>
            <td>{{ .Title }}</td>
            <td> {{ .PercentageCompleted }} </td>
            <td> {{ .IsSeeding }} </td>
        </tr>
        {{end}}
    </table>
</html>

{{end}}
